@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #344066; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #868687; 
	border-radius:25px
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	height: 100%;
	width:100%
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: white;
	color: green;
	border-radius: 25px;
	border: 0;
	font-size: 17px;
}

/* Chat Page */

.chat-container {
	/* max-width: 1100px; */
	background: #fff;
	/* margin: 30px auto; */
	/* overflow: hidden; */height: 100%;
}

.chat-header {
	background: #098709;
    color: #fff;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 11px;
    height: 42px;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
	height: 83%;
	border-bottom: 1px solid white;
}

.chat-sidebar {
	background: #252526;
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	/* max-height: 500px; */
	overflow-y: scroll;
	background: #1e1e1e;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: #37373d;
	border-radius: 5px;
	overflow-wrap: break-word;
	width: fit-content;
	color: white;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: #dddddd;
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color:#000;
	margin-left: 35px;
}

/* .chat-messages .message .text {
	/* color:white; 
} */

.chat-form-container {
	padding: 20px 30px;
	background-color: #1e1e1e;
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
	border-radius: 25px;
	outline: none;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: #098709;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: #3a4b4b;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}
